
<ion-view view-title="order detail">
  <ion-content>
    <table class="width100 orderDetail">
      <thead>
        <tr>
          <td class="orders noLeft"><strong>訂單名稱</strong></td>
          <td class="orders"><strong>數量</strong></td>
          <td class="orders noRight"><strong>價格</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="orders noLeft">精美綠茶盒裝</td>
          <td class="orders">10</td>
          <td class="orders noRight">NT$ 1000</td>
        </tr>
        <tr>
          <td class="orders noLeft">超有水藍筆</td>
          <td class="orders">5</td>
          <td class="orders noRight">NT$ 500</td>
        </tr>
        <tr>
          <td class="orders noLeft">連續紅印章</td>
          <td class="orders">5</td>
          <td class="orders noRight">NT$ 500</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="padding8"></td>
          <td class="padding8">小計:</td>
          <td class="padding8">NT$ 2000</td>
        </tr>
      </tfoot>
    </table>
  </ion-content>
</ion-view>
