<ion-view view-title="購物車">
  <ion-content class="padding">
    <div class="row padding0">
      <div class="col cart-note">
        數量:
        <br>
        <span class="badge badge-assertive">3</span>
      </div>
      <div class="col cart-note">
        總價:
        <p class="cart-sum">NT$ 28700</p>
      </div>
      <div class="col cart-note-right">
        等級:
        <p>VIP</p>
      </div>
    </div>

    <div class="list list-inset">
      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/80/333/eee">
        <h2>Moet & Chandon Moet Brut Rose Imperial</h2>
        <p>NT$ 1300</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/80/933/eee">
        <h2>Apple IPhone 6 Plus</h2>
        <p>NT$ 25000</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/80/968/eee">
        <h2>Pretty Hair Machine</h2>
        <p>NT$ 1800</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/80/598/eee">
        <h2>Spuer Slick TV Controller</h2>
        <p>NT$ 600</p>
      </a>
    </div>

    <div class="row responsive-sm">
      <div class="col">
        <button class="button button-calm button-block">
          結帳去
        </button>
      </div>
    </div>


  </ion-content>
</ion-view>