<ion-view view-title="其它">
  <ion-content>

<div class="list">

  <div class="item item-divider">
    會員中心
  </div>

  <a class="item" href="#">
    查訂單
  </a>

  <a class="item" href="#">
    我的折價券
  </a>

  <a class="item" href="#">
    退貨查詢
  </a>

  <a class="item" href="#">
    個人資料修改
  </a>

  <a class="item" href="#">
    變更密碼
  </a>

  <div class="item item-divider">
    系統
  </div>

  <a class="item" href="#">
    版本資訊
  </a>

  <a class="item" href="#">
    登入 / 註冊
  </a>


</div>

  </ion-content>
</ion-view>