<ion-view view-title="產業訊息">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">最新消息</div>
      <div class="item item-body">
        <div>
          iPhone6 plus 大特價 <b>$20000</b>
          <span class="badge badge-assertive">new</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">電信業</div>
      <div class="item item-body">
        <div>
          台哥大4G覆蓋率最高!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">民生業</div>
      <div class="item item-body">
        <div>
          全聯福利中心 榮獲最佳企業！
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
